@use '../../../styles/variables' as vars;

.cartItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    &__content {
        display: flex;
        gap: 10px;
        padding: 10px 15px;
        background-color: vars.$neutral-color-dark-2;
        border-radius: 10px;
        text-align: left;
        max-height: 87.3px;
    }

    &__image {
        max-width: 60px;
        object-fit: cover;
        height: auto;
        transform: translateY(1px);

        &_container {
            flex: 1 1 0%;
            display: flex;
            align-items: center;
            background-color: #111;
            border-radius: 5px;
        }
    }

    &__info {
        flex: 1 1 100%;
    }

    &__name {
        color: vars.$green-color;
        font-size: clamp(13px, .7465rem + .2817vw, 16px);
        -webkit-line-clamp: 2;
        line-clamp: 2;
        font-weight: 500;
        line-height: 130%;
    }

    &__quantity {
        color: vars.$text-neutral;
        font-weight: 500;
        font-size: clamp(13px, .7465rem + .2817vw, 16px);
        line-height: 130%;
    }

    &__price {
        margin-top: 5px;
        font-size: clamp(13px, .7465rem + .2817vw, 16px);
        font-weight: 500;
        line-height: 140%;
        font-family: vars.$title-text;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        background-color: vars.$button-secondary-background;
        border-radius: 10px;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 24px;
        background-color: transparent;
        color: vars.$green-color
    }

    &__buttonIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 14px;
        height: 14px;
        transform: translateY(1px);
    }

    &__total_quantity {
        font-weight: 500;
        line-height: 130%;
        font-size: clamp(13px, .7465rem + .2817vw, 16px);
    }
}