@use '../../../styles/variables' as vars;

.popup {
    position: absolute;
    bottom: calc(100% + 6px);
    z-index: 50;
    outline: none;
    background-color: vars.$neutral-color-2;
    border-radius: 10px;
    padding: 5px;
    transition: transform 0.05s ease, opacity 0.05s ease;
    transform-origin: bottom;

    &--game-page {
        right: calc(10%);

        @media screen and (max-width: 768px) {
            right: calc(6%);
        }

        @media screen and (max-width: 576px) {
            right: calc(1%);
        }
    }

    &:not(.popup--game-page) {
        @media screen and (max-width: 768px) {
            right: calc(10%);
        }

        @media screen and (max-width: 576px) {
            right: calc(5%);
        }

        @media screen and (max-width: 375px) {
            right: calc(3%);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        gap: 10px;
        padding: 0;
    }

    &__item {
        display: flex;
        transition: color 0.2s;
        color: var(--neutral-250);
        cursor: pointer;
        overflow: hidden;
        list-style: none;

        a,
        button {
            display: flex;
            align-items: center;
            flex-direction: row;
            color: #ffffffcc;
            padding: 0;
            gap: 10px;
            background: none;
            border: none;
            width: 100%;
            text-align: left;
            font-size: inherit;
            cursor: pointer;
            text-decoration: none;
        }

        &:hover {
            color: var(--tab-bar-text-active);
        }

        @media screen and (max-width: 768px) {
            &:nth-last-child(1) {
                display: none;
            }
        }

        @media screen and (max-width: 430px) {
            &:nth-last-child(1) {
                display: block;
            }
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            height: auto;
            width: fit-content;
            transition: color 0.2s;
            width: 24px;
            height: 24px;
            color: #ffffffcc;
        }
    }

    &__text {
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 13px;
        font-weight: 500;
    }

    &--visible {
        transform: scale(1);
        opacity: 1;
        pointer-events: auto;
    }

    &--hidden {
        transform: scale(0.8);
        opacity: 0;
        pointer-events: none;
    }
}