@use '../../styles/variables' as vars;

.tabbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
    background-color: vars.$neutral-color-2;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 60;

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        height: 51.91px;
        padding: 5px 0;
        width: 100%;

        &--active {
            color: #007bff;
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: inherit;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        color: #ffffffcc;
    }

    &__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        line-height: normal;
    }

    &__label {
        font-size: 13px;
        font-weight: 500;
        line-height: 130%;
        color: #ffffffcc;
        text-align: center;

        &--cart {
            color: vars.$green-color;
        }
    }

    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        background-color: transparent;

        &--active {
            span {
                color: vars.$green-color;
            }
        }
    }

    @media (min-width: 769px) {
        display: none;
    }

    @media (max-width: 430px) {
        &__avatar {
            width: 35px;
            height: 35px;
        }
    }

    @media (max-width: 412px) {
        &__label {
            line-height: normal;
        }
    }
}