@font-face {
    font-family: "IBMPlexSans";
    src: url("../assets/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBMPlexSansItalic";
    src: url("../assets/fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Unbounded";
    src: url("../assets/fonts/Unbounded-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}
