@use '../../../styles/variables' as vars;

.inputContainer {
    //  max-height: 55px;
    //  overflow: hidden;
    transition: all 0.2s ease-in-out;


    &__wrapper {
        display: flex;
        padding: 10px 15px;
        max-height: 55px;
        height: 55px;
        border-radius: 10px;
        background-color: vars.$card-background-2;
        transition: border 0.2s ease-in-out;
        border: 2px solid transparent;

        &:focus-within {
            border: 2px solid vars.$green-color;

            .inputContainer__button {
                opacity: 1;
            }
        }

        &--error {
            border: 2px solid vars.$text-error !important;
        }

    }

    &__input {
        width: 100%;
        background-color: transparent;
        border: none;
        color: vars.$text-color;
        padding: 0;

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-weight: 500;
            font-family: vars.$body-text;
            font-size: 14px;
            color: vars.$text-neutral
        }
    }

    &__button {
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: vars.$green-color-opacity;
        background-color: transparent;
        padding: 0;
        transition: all 0.2s ease-in-out;
    }

    &__icon {
        width: 24px;
        height: 24px;
    }

    &__error {
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        color: vars.$text-error;
        text-align: left;
        font-weight: 500;
        line-height: 130%;
        transition: all 0.2s ease-in-out;

        &--visible {
            max-height: 50px;
            visibility: visible;
            opacity: 1;
            padding-top: 5px;
        }
    }
}