@use "../../../styles/variables" as vars;

.overlay {
  display: none;

  @media screen and (max-width: 640px) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    pointer-events: none;

    &--visible {
      opacity: 1;
      pointer-events: auto;
    }

    &--hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.popup {
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  background: vars.$neutral-color-2;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 525px;
  height: 245px;
  min-width: 200px;
  z-index: 1000;
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
  transform-origin: top right;

  &--visible {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }

  &--hidden {
    transform: scale(0.8);
    opacity: 0;
    pointer-events: none;
  }

  &__title {
    margin: 0 20px;
    padding: 20px 0;
    text-align: left;
    font-size: clamp(13px, .7465rem + .2817vw, 16px);
    font-weight: 600;
    color: vars.$text-color;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67.35%;
  }

  &__message {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__text {
    font-size: 13px;
    font-weight: 500;
  }

  @media screen and (max-width: 640px) {
    top: -200px;
    width: 100%;
    height: 255px;
    transition-duration: 0.3s;

    &--visible {
      transform: translateY(0);
      opacity: 1;
    }

    &--hidden {
      transform: translateY(100%);
      opacity: 1;
    }

    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 38px;
      height: 6px;
      background-image: url("data:image/svg+xml,%3Csvg width='38' height='6' viewBox='0 0 38 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1C0 0.447715 0.447715 0 1 0H37C37.5523 0 38 0.447715 38 1C38 1.55228 37.5523 2 37 2H1C0.447716 2 0 1.55228 0 1Z' fill='%23404040'%3E%3C/path%3E%3Cpath d='M9.5 5C9.5 4.44772 9.94772 4 10.5 4H27.5C28.0523 4 28.5 4.44772 28.5 5C28.5 5.55228 28.0523 6 27.5 6H10.5C9.94771 6 9.5 5.55228 9.5 5Z' fill='%23404040'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &__title {
      margin: 0 10px;
      margin-top: 8px;
    }
  }
}