@use "../../../styles/variables" as vars;

.popup {
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  background: vars.$neutral-color-2;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 525px;
  height: 245px;
  min-width: 200px;
  z-index: 1000;

  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.1s ease, opacity 0.1s ease;

  &__title {
    margin: 0 20px;
    padding: 20px 0;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: vars.$text-color;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67.35%;
  }

  &__message {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__text {
    font-size: 13px;
    font-weight: 500;
  }

  &--visible {
    transform: scale(1);
    opacity: 1;
  }

  &--hidden {
    transform: scale(0.8);
    opacity: 0;
  }
}