@use '../../styles//variables' as vars;

.expandable {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 55px 0 10px;
    width: fit-content;
    max-width:768px;

    &__header {
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        outline: none;
        h4 {
            font-size: clamp(1.25rem, 1.14rem + .4695vw, 1.5625rem);
            line-height: 130%;
            font-weight: 500;
            font-family: vars.$title-text;
        }
    }

    &__arrow {
        color: vars.$green-color;
        transition: transform 0.3s ease-in-out;
        width: 24px;
        height: 24px;

        &--open {
            transform: rotate(180deg);
        }
    }

    &__content {
        display: flex;
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;

        p {
            text-align: left;
            font-size: clamp(13px, .7465rem + .2817vw, 16px);
            font-weight: 500;
            line-height: 1.25rem;
            margin-top: 1.25em;
            margin-bottom: 1.25em;
        }

        h2 {
            text-align: left;
            font-family: vars.$body-text;
            font-weight: 700;
            font-size: 1.5em;
            margin-top: 2em;
            margin-bottom: 1em;
            line-height: 1.3333333;
        }

        h3 {
            text-align: left;
            font-family: vars.$body-text;
            font-weight: 600;
            font-size: 1.25em;
            margin-top: 1.6em;
            margin-bottom: .6em;
            line-height: 1.6;
        }

        ul {
            list-style-type: disc;
            margin-top: 1.25em;
            margin-bottom: 1.25em;
            padding-inline-start: 1.625em;
            text-align: left;

            li {
                padding-inline-start: .375em;
                margin-top: .5em;
                margin-bottom: .5em;
                color: vars.$text-neutral;

                &::marker {
                    color: vars.$green-color;
                }
            }
        }

        a {
            font-weight: 600;
        }
    }
}