@use '../../../styles/variables' as vars;

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease;
  z-index: 0;

  &--active {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
    position: relative;
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    height: 352.88px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;

    @media (max-width: 768px) {
      height: 444.53px;
    }

    @media (max-width: 640px) {
      flex-direction: column;
      height: 583.55px;
    }

    @media (max-width: 390px) {
      flex-direction: column;
      height: 597.57px;
    }

    @media (max-width: 360px) {
      flex-direction: column;
      height: 614.47px;
    }
  }

  &__image-container {
    order: 2;
    flex: 1;
    position: relative;
    height: 100%;
    overflow: hidden;

    @media (max-width: 640px) {
      order: 1;
      flex: none;
      width: 100%;
      height: 230px;
      aspect-ratio: 16 / 9;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

    @media (max-width: 640px) {
      order: 1;
      width: 100%;
      height: 230px;
      aspect-ratio: 16 / 9;
    }

  }

  &__content {
    display: flex;
    flex-direction: column;
    order: 1;
    flex: 1;
    max-width: 40%;
    padding: 20px;
    gap: 20px;

    @media (max-width: 640px) {
      order: 2;
      max-width: 100%;
    }
  }

  &__badges-container {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: start;
  }

  &__badge {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: vars.$orange-color;
    background: rgba(247, 251, 70, .13);
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 400;
    height: 34px;
  }

  &__title {
    font-size: clamp(1.25rem, 1.14rem + .4695vw, 1.5625rem);
    font-family: vars.$title-text;
    font-weight: 600;
    line-height: 130%;
    color: vars.$text-color;
    text-align: left;

    @media (max-width: 640px) {
      word-spacing: -2px;
    }
  }


  &__description-body {
    text-align: left;
    font-family: vars.$body-text;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: normal;

    p {
      margin-bottom: 1.25em;
      font-weight: 400;
      font-size: clamp(13px, .7465rem + .2817vw, 16px);
      color: vars.$text-color;
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    strong {
      color: vars.$text-color;
      font-weight: 700;
      width: 100%;
    }

    em {
      font-style: italic;
      font-weight: 400;
      color: vars.$text-color;
    }

    a {
      font-weight: 600 !important;
      color: vars.$green-color !important;
      text-decoration: none;
    }

    br {
      display: block;
      margin-bottom: 0.5em;
      content: '';
    }

    @media (max-width: 640px) {
      line-height: 108%;
      word-spacing: -1px;
    }
  }
}