@use "./styles/variables" as vars;

@font-face {
  font-family: "IBMPlexSans";
  src: url("./assets/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSansItalic";
  src: url("./assets/fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("./assets/fonts/Unbounded-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: vars.$title-text;
}

a {
  font-weight: 500;
  color: vars.$green-color;
  text-decoration: inherit;
}

body {
  font-family: vars.$body-text;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: vars.$page-background-color;
  color: vars.$text-color;
}

::-webkit-scrollbar {
  width: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  -webkit-user-drag: none;
}

button {
  border-radius: 10px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: vars.$button-primary-background;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}